.menuBotton{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    background-color: var(--sure-bg-color);
    border-radius: 24px 24px 0 0;
}