.stepOne-p {
    width: 180px;
    justify-self: center;
    color: var(--sure-bg-color);
}
.intro-h1 {
    margin-bottom: 0;
}
.container-logoslogan {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-logoslogan img {
    width: 90px;
    height: auto;
}